.sidebar{
    width: 80%;
    float: right;
}

.title0{
    font-size: 30px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 41px;
    font-weight: 600;
    line-height: 40%;
    letter-spacing: 1px;
    float: left;
}
.title1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 30%;
    font-size: 13px;
    color: #A4A4A4;
    font-weight: 450;
    width: 100%;
    padding-bottom: 11px;
    float: left;
}

.sidebar0{
    width: 80%;
    float: left;
    padding-bottom: 10px;
}

.li0{
    font-size: 16px;
    font-family: 'Calibri';
    font-weight: 600;
    list-style: none;
    padding-bottom: 12px;
    outline: none;
}

.li1{
    font-size: 16px;
    font-family: 'Calibri';
    font-weight: 600;
    list-style: none;
    padding-bottom: 12px;
    outline: none;
}
.li1 a{
    border-bottom: 5.5px solid #FACC2E;
}

li a:hover{
    color: #FACC2E;
}

.icon0{
    margin-right: 12px;
    color: #5743C5;
}