<div class="sidebar">
    <div class="title0">
        <p>Web Design</p>
    </div>
    <p class="title1">HỌC</p>
    <div class="sidebar0">
        <li routerLink = "../flash-cards" class="li1"><fa-icon class="icon0" [icon]="faWindowRestore"></fa-icon><a>Thẻ ghi nhớ</a></li>
        <li routerLink= "../app-student" class="li0"><fa-icon class="icon0" [icon]="faGraduationCap"></fa-icon><a>Học</a></li>
        <li routerLink= "../app-write" class="li0"><fa-icon class="icon0" [icon]="faPenFancy"></fa-icon><a>Viết</a></li>
        <li routerLink= "../app-spell" class="li0"><fa-icon class="icon0" [icon]="faVolumeUp"></fa-icon><a> Chính tả</a></li>
        <li routerLink= "../app-test1" class="li0"><fa-icon class="icon0" [icon]="faFileAlt"></fa-icon><a>Kiểm tra</a></li>
    </div>
    <p class="title1">TRÒ CHƠI</p>
    <div class="sidebar0">
        <li routerLink= "../app-card-transplant" class="li0"><fa-icon class="icon0" [icon]="faThLarge"></fa-icon><a>Ghép thẻ</a></li>
        <li routerLink= "../app-meteorite" class="li0"><fa-icon class="icon0" [icon]="faMeteor"></fa-icon><a>Thiên thạch</a></li>
    </div>
</div>
