    <div class="navbara">
        <li class="quizlet" href="#">Quizlet</li>
        <li class="search"><fa-icon class="icon0" [icon]="faSearch"></fa-icon>Tìm kiếm</li>
        <li class="create"><fa-icon class="icon0" [icon]="faSave"></fa-icon>Tạo mới</li>
    </div>