.quizlet{
    font-size: 25px;
    color: white;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 900;
    list-style: none;
}
.navbara{
    background-color: #4257b2;
    float: left;
    height: 80px;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.search{
    color: white;
    font-size: 15px;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    padding-right: 23px;
    list-style: none;
    font-weight: 500;
    border-right: #2D4D8D 2px solid;
    height: 20px;
}

.search:hover{
    color: #A4A4A4;
}

.create{
    color: white;
    font-size: 15px;
    float: left;
    margin-top: 30px;
    padding-left: 23px;
    font-weight: 500;
    list-style: none;
    float: left;
}

.create:hover{
    color: #A4A4A4;
}

.icon0{
    margin-right: 9px;
}