.allBody{
    width: 100%;
    height: auto;
    float: left;
}
.nav0{
    float: left;
    width: 100%;
    height: 70px;
    margin-bottom: 30px;
}
.container0{
    float: left;
    margin: auto;
    width: 100%;
    margin-top: 25px;
}
.sidebar1{
    float: left;
    width: 17%;
    height: auto;
    margin-left: 78px;
}
.container1{
    float: left;
    text-align: center;
    width: 660px;
    height: auto;
}