.container{
    width: 100%;
    height: 435px;
    text-align: center;
    float: left;
}

.example-card{
    position: relative;
    transform-style: preserve-3d;
    transform: transform 1s;
    margin: auto;
    width: 560px;
    height: 340px;
    text-align: center;
    box-shadow: 0px 0px 5px;
    margin-top: 79px;
    margin-bottom: 10px;
    background-color: white;
    margin-left: 34px;
}

.card-content1{
    margin: auto;
}

.text1, .text2{
    font-size: 40px;
    margin: auto;
    padding-top: 140px;
    padding-bottom: 140px;
    font-size: 32px;
}

a {
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover {
    color: #FACC2E;
  }
  
  .previous {
    color: black;
    margin-right: 55px;
    font-size: 20px;
  }
  
  .next {
    color: black;
    margin-left: 55px;
    font-size: 20px;
  }
  
  .round {
    border-radius: 50%;
  }

  .button_v1{
    width: 100%;
    height: 50px;
    float: left;
  }
  .btn-a{
      float: left;
      margin-left: 245px;
  }

  .keyboard{
    margin-left: 117px;
  }

  .full-icon{
    margin-left: 30px;
  }

  .card-content1__side{
    backface-visibility: hidden;
    user-select: none;
  }
  
  .card-content1__text1{
    transform: rotateX(0deg);
  }

  .card-content1__text2{
    transform: rotateX(180deg);
  }
