<div class="container">
    <div class="example-card" [@animSlider]="currentIndex" [@flipState]="flip" (click)="onclick()">
        <div class="card-content1">
            <div class="card-content1__side card-content1__text1 text1" *ngIf="isShowingCardName">
                <p>{{currentCardName}}</p>
            </div>
            <div class="card-content1__side card-content1__text2 text2" *ngIf="isShowingCardContent">
                <p>{{currentCardContent}}</p>
            </div>
        </div>
    </div>
</div>

<div class="button_v1">
    <div class="btn-a">
        <a (click)="prev()" class="previous round">
            <fa-icon class="icon0" [icon]="faArrowLeft"></fa-icon>
        </a>
        {{currentIndex}}/{{countIndex}}
        <a (click)="next()" class="next round">
            <fa-icon class="icon0" [icon]="faArrowRight"></fa-icon>
        </a>
        <fa-icon class="keyboard" [icon]="faKeyboard"></fa-icon>
        <fa-icon class="full-icon" [icon]="faExpand"></fa-icon>
    </div>
</div>